<h1>Table of Contents</h1>
<!-- toc -->
<ol>
    <li id="introduction">
        <a id="title" href=@Url.Action("StepOne", "ComManual")>Installing Visual Studios</a>
        <ol>
            <li><dl><dt><a href=@Url.Action("StepOne", "ComManual")>Installation</a><dd>i</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepOne", "ComManual")>Step 1</a><dd>ii</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepOne", "ComManual")>Step 2</a><dd>iii</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepOne", "ComManual")>Step 3</a><dd>iv</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepOne", "ComManual")>Step 4</a><dd>v</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepOne", "ComManual")>Installation Complete</a><dd>vi</dd></dl></li>
    </ol>
    </li>
    <li id="setup">
        <a id="title" href=@Url.Action("StepTwo", "ComManual")>Setup Website</a>
        <ol>
            <li>
                <dl><dt><a href=@Url.Action("StepTwo", "ComManual")>Background</a><dd>i</dd></dl>
            </li>
            <li id="setup2">
                <dl><dt><a href=@Url.Action("StepTwo", "ComManual")>Setup</a><dd>ii</dd></dl>
                <ol>
                    <li>
                        <dl><dt><a href=@Url.Action("StepTwo", "ComManual")>Step 1</a></dt><dd>a</dd></dl>
                    </li>
                    <li>
                        <dl><dt><a href=@Url.Action("StepTwo", "ComManual")>Step 2</a></dt><dd>b</dd></dl>
                    </li>
                    <li>
                        <dl><dt><a href=@Url.Action("StepTwo", "ComManual")>Step 3</a></dt><dd>c</dd></dl>
                    </li>
                    <li>
                        <dl><dt><a href=@Url.Action("StepTwo", "ComManual")>Step 4</a></dt><dd>d</dd></dl>
                    </li>
                </ol>

            </li>
            <li>
                <dl><dt><a href=@Url.Action("StepTwo", "ComManual")>Project Setup Complete</a><dd>iii</dd></dl>
            </li>
        </ol>
    </li>
    <li id="understand">
        <a id="title" href="@Url.Action("StepThree", "ComManual")">Understanding C# and MVC</a>
        <ol>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>Basic C#</a><dd>i</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>ASP.NETC</a><dd>ii</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>Structures</a><dd>iii</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>Templates</a><dd>iv</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>App_Start</a><dd>v</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>Content</a><dd>vi</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>Controller</a><dd>vii</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>Models</a><dd>viii</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>Scripts</a><dd>ix</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>Views</a><dd>x</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepThree", "ComManual")>Configurations</a><dd>xi</dd></dl></li>
        </ol>
    </li>
    <li id="add">
        <a id="title" href="@Url.Action("StepFour", "ComManual")">Adding Pages</a>
        <ol>
            <li><dl><dt><a href=@Url.Action("StepFour", "ComManual")>Add With Controller</a><dd>i</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepFour", "ComManual")>Add Without Controller</a><dd>ii</dd></dl></li>
        </ol>
    </li>
    <li id="remove">
        <a id="title" href="@Url.Action("StepFive", "ComManual")">Removing Pages</a>
        <ol>
            <li><dl><dt><a href=@Url.Action("StepFive", "ComManual")>Remove With Controller</a><dd>i</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepFive", "ComManual")>Remove Without Controller</a><dd>ii</dd></dl></li>
        </ol>
    </li>
    <li id="front">
        <a id="title" href="@Url.Action("StepSix", "ComManual")">Front End</a>
        <ol>
            <li><dl><dt><a href=@Url.Action("StepSix", "ComManual")>Hypertext Markup Language Basics</a><dd>i</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepSix", "ComManual")>Cascading Style Sheets Basics</a><dd>i</dd></dl></li>
            <li><dl><dt><a href=@Url.Action("StepSix", "ComManual")>JavaScript Overview</a><dd>i</dd></dl></li>
        </ol>
    </li>
    <li id="host">
        <a id="title" href="@Url.Action("StepSeven", "ComManual")">Hosting</a>
    </li>
    <li id="conclude">
        <a id="title" href="@Url.Action("StepEight", "ComManual")">Conclusion</a>
    </li>
    <li id="appendix">
        <a id="title" href="@Url.Action("StepNine", "ComManual")">Appendix</a>
        <ol>
            <li>
                <dl><dt><a href=@Url.Action("StepNine", "ComManual")>Resource Requirements</a><dd>i</dd></dl>
                <ol>
                    <li>
                        <dl><dt><a href=@Url.Action("StepNine", "ComManual")>Minimum Hardware Requirements</a></dt><dd>a</dd></dl>
                    </li>
                </ol>
            </li>
            <li>
                <dl><dt><a href=@Url.Action("StepNine", "ComManual")>Resources Consulted</a><dd>ii</dd></dl>
            </li>
        </ol>
    </li>
</ol>
<!-- /toc -->